<div class="main-1">
                <br>
                <br>
                <img src="assets/citywiz.jpg" style="text-align:center;
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto; 
                                        width:360px; 
                                        height:310px; 
                                        opacity: .8">
                <br>
                <br>
                <div class="row">
                    <div class="col">
                                    <div class="card border-dark mb-3" >
                                            <div class="card-header">Your Relocation Partner</div>
                                            <div class="card-body">
                                                <h3 class="card-text">
                                                        CityWiz has everything you need to relocate your freshers – 
                                                        Physically, Emotionally and Culturally.
                                                </h3>
                                            </div>
                                    </div>
                    </div>
                </div>
        
        </div>
<div class="jumbotron">
  <div class="row">
      <div class="col"></div>
      <div class="col" style="text-align:center;">
              <h3>What is CityWiz ? </h3>
              <hr> 
      </div>
      <div class="col"></div>
  </div>
  <div class="row">
      <div class="col" style="text-align:center;">
              <h5>
                  Moving from one city to another for your job? Not sure how to go about it? 
                  CityWiz is your one-stop solution for your entire relocation problem.
              </h5>
      </div>
  </div>
</div>





<div class="container-fluid">
<br>
<div class="row">
  <div (mouseover)="mouseOver0()" id="img1" class="col-md-4">
      <img src="http://citywiz.in/images/Fully-Furnished-Rentals-01.png"
           class="pull-left"
           style="width:290px; height:240px;"/>
  </div>
  <div [style.display]="isDisplay0" id="detail1" class="col-md-8">
          <br>
          <div class="jumbotron">
                  <div class="row">
                              <div class="col" style="text-align:center;">
                                      <h3>FULLY FURNISHED RENTALS</h3>
                                      <hr>
                              </div>
                  </div>
                  <div class="row">
                      <div class="col">
                              Fully furnished houses in locationsshortlisted to your preference and personality 
                              along with the complete legal formalities. 
                              No brokers: you get what you see.              
                      </div>
                  </div>    
              </div>
  </div>
</div>
</div>

<div class="container-fluid" style="background:cornflowerblue;">
  <br>
  <div class="row">
      <div (mouseover)="mouseOver1()" id="img1" class="col-md-4">
          <img src="http://citywiz.in/images/Curated-Amenities-01.png"
               class="pull-left"
               style="width:290px; height:240px;"/>
      </div>
      <div [style.display]="isDisplay1" id="detail1" class="col-md-8">
              <div class="jumbotron">
                      <div class="row">
                                  <div class="col" style="text-align:center;">
                                          <h3>CURATED AMENITIES</h3>
                                          <hr>
                                  </div>
                      </div>
                      <div class="row">
                          <div class="col">
                                  Optional setup with exclusive deals of already tested and verified services of TV Connection,
                                  <br> 
                                  Internet (Wi-Fi), Gas connections, 
                                  extra furnishing and home appliance based on your preference.              
                          </div>
                      </div>    
                  </div>
      </div>
  </div>
</div>


<div class="container-fluid">
  <br>
  <div class="row">
      <div (mouseover)="mouseOver2()" id="img1" class="col-md-4">
          <img src="http://citywiz.in/images/Room-mate-Finder-01.png"
               class="pull-left"
               style="width:290px; height:240px;"/>
      </div>
      <div [style.display]="isDisplay2" id="detail1" class="col-md-8">
              <div class="jumbotron">
                      <div class="row">
                                  <div class="col" style="text-align:center;">
                                          <h3>ROOM-MATE FINDER</h3>
                                          <hr>
                                  </div>
                      </div>
                      <div class="row">
                          <div class="col">
                                  Find, connect and choose your room-mates through our CityConnect feature. 
                                  We not only shortlist room-mates based on your personality, company and region, 
                                  but also provide you a secured platform to interact with them.              
                          </div>
                      </div>    
                  </div>
      </div>
  </div>
</div>


<div class="container-fluid" style="background:cornflowerblue;">
      <br>
      <div class="row">
          <div (mouseover)="mouseOver3()" id="img1" class="col-md-4">
              <img src="http://citywiz.in/images/CitySocial-01.png"
                   class="pull-left"
                   style="width:290px; height:240px;"/>
          </div>
          <div [style.display]="isDisplay3" id="detail1" class="col-md-8">
                  <div class="jumbotron">
                          <div class="row">
                                      <div class="col" style="text-align:center;">
                                              <h3>CITYSOCIAL</h3>
                                              <hr>
                                      </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                      Our social dashboard helps you stay organized and updated in your social life. 
                                      Keep track of the internal spending among your room-mates; organize social events within CityWiz circle, 
                                      collaborate with CityWiz circle to attend your favorite events happening in the city.              
                              </div>
                          </div>    
                      </div>
          </div>
      </div>
</div>



<div class="container-fluid">
  <br>
  <div class="row">
      <div (mouseover)="mouseOver4()" id="img1" class="col-md-4">
          <img src="http://citywiz.in/images/CityAlerts-01.png"
               class="pull-left"
               style="width:290px; height:240px;"/>
      </div>
      <div [style.display]="isDisplay4" id="detail1" class="col-md-8">
              <div class="jumbotron">
                      <div class="row">
                                  <div class="col" style="text-align:center;">
                                          <h3>CITYALERTS</h3>
                                          <hr>
                                  </div>
                      </div>
                      <div class="row">
                          <div class="col">
                                  Stay updated with the latest events hosted by CityWiz 
                                  or your peers and featured events by our service partners.              
                          </div>
                      </div>    
                  </div>
      </div>
  </div>
</div>

<div class="container-fluid" style="background:cornflowerblue;">
  <br>
  <div class="row">
      <div (mouseover)="mouseOver5()" id="img1" class="col-md-4">
          <img src="http://citywiz.in/images/CityConnect-01.png"
               class="pull-left"
               style="width:290px; height:240px;"/>
      </div>
      <div [style.display]="isDisplay5" id="detail1" class="col-md-8">
              <div class="jumbotron">
                      <div class="row">
                                  <div class="col" style="text-align:center;">
                                          <h3>CITYCONNECT</h3>
                                          <hr>
                                  </div>
                      </div>
                      <div class="row">
                          <div class="col">
                                  Be a part of the inner circle and have access to the exclusive deals 
                                  and offers by our service partners 
                                  at your fingertips based on your profiling and preference. 
                                  Save money, keep up with the latest updates and promotions, enjoy special privileges.              
                          </div>
                      </div>    
                  </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <br>
  <div class="row">
      <div (mouseover)="mouseOver6()" id="img1" class="col-md-4">
          <img src="http://citywiz.in/images/CityPay-01.png"
               class="pull-left"
               style="width:290px; height:240px;"/>
      </div>
      <div [style.display]="isDisplay6" id="detail1" class="col-md-8">
              <div class="jumbotron">
                      <div class="row">
                                  <div class="col" style="text-align:center;">
                                          <h3>CITYPAY</h3>
                                          <hr>
                                  </div>
                      </div>
                      <div class="row">
                          <div class="col">
                                  Use our exclusive pre-loaded card to transact and make purchases within CityWiz and our service partners.
                                  Gain award points and reclaim it through our CityPay Card, receive receipts for ITR filing, 
                                  and statement of all your transactions done through CityPay Dashboard.        
                          </div>
                      </div>    
                  </div>
      </div>
  </div>
</div>



<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col"></div>
      <div class="col" style="text-align:center;">
              <h3>How it Works ? </h3>
              <hr>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="element">
                <div class="row">
                <div class="col-md-8">
                   <br>
                   <div class="card">
                        <div class="card-body">
                                <div class="card-title">
                                   <h3>Search</h3>
                                </div>
                                <div class="card-text">
                                   <h5>Fill in your profile details and receive listing of authentic and pre-verified rentals, 
                                           room-mates and furnishing amenities according to your profile. Shortlist them better 
                                           based on our advanced filters that not only includes the usual parameters like budget, 
                                           type of accommodation and office location; but also on your personal preference and personality. After-all, 
                                           it’s silly to expect you to find a great locality in a new city based on just their name.
                                   </h5>
                                </div>
                        </div>
                   </div>
                </div>
                <div class="col-md-4">
                     <img src="http://citywiz.in/images/search-01.png">
                </div>
        </div>
        </div>
      
        <div class="element">
                <div class="row">
                <div class="col-md-4">
                      <img src="http://citywiz.in/images/Choose-01.png">
                </div>
                <div class="col-md-8">
                   <br>
                   <div class="card">
                        <div class="card-body">
                                <div class="card-title">
                                   <h3>Choose</h3>
                                </div>
                                <div class="card-text">
                                   <h5>Select the rental that meets your choice of locality, room-mates and furnishing. Schedule a meeting or simply just book the room to confirm your date of move-in. Complete the necessary booking transactions in the payment method of your choice and connect with your room-mates and owners – all through our secured platform in CityWiz. Schedule a CityWiz Introduction meetup to help you create a social circle in the new city.</h5>
                                </div>
                        </div>
                   </div>
                </div>                
        </div>
        </div>
      
        <div class="element">
                <div class="row">
                <div class="col-md-8">
                <br>
                   <div class="card">
                        <div class="card-body">
                                <div class="card-title">
                                   <h3>Move</h3>
                                </div>
                                <div class="card-text">
                                   <h5>Feel at ease while you shift to your new life within hours. All you need to do is sign the legal documentations, meet your owner, say hello to your room-mates as per the schedule decided by you, your room-mate and your owner. Our quality inspector will ensure your move-in is as smooth as possible.</h5>
                                </div>
                        </div>
                   </div>
                </div>
                <div class="col-md-4">
                        <img src="http://citywiz.in/images/Move-01.png">
                </div>
        </div>
        </div>
      
        <div class="element">
                <div class="row">
                <div class="col-md-4">
                        <img src="http://citywiz.in/images/live-01.png">    
                </div>
                <div class="col-md-8">
                <br>
                    <div class="card">
                        <div class="card-body">
                                <div class="card-title">
                                   <h3>Live</h3>
                                </div>
                                <div class="card-text">
                                   <h5>Our job doesn’t stop there. We aim to help you lead a lifestyle of your choice in the city by providing our exclusive and unique social lifestyle services through CityConnect, CitySocial and CityAlerts. Our aim is to provide a 5-star hotel experience and more.</h5>
                                </div>
                        </div>
                   </div>    
                </div>
        </div>
      
        </div>

</div>
  

<br>
<br>

<div class="element1 parallax">
  <div class="container">
          <br>
          <br>
          <br>
          <br>
          <div class="row">
                  <div class="col"></div>
                  <div class="col" style="text-align:center;">
                          <h2 class="headline"> Why us? </h2>
                          <hr>
                  </div>
                  <div class="col"></div>
          </div>
          <div class="row">
                  <div class="col" style="text-align:center;">
                          <h4>
                          We are your tribe. We too love travelling, we too love exploring new cities and meeting new people.<br> 
                          We too hate the endless cycle of changing houses and all the annoyance that comes with it. <br> That’s why we created this service for people like us. Who else is better at solving our problem than ourselves? 
                          <br> If that’s not enough let’s list it.
                          </h4>
                  </div>
          </div>
 </div>
</div>

<br>
<hr>

<div class="container-fluid points">
  <div class="row">
     <div class="col">
                  <div class="card">
                                  <img class="card-img-top" src="assets/search-engine.png"
                                  style="width:64px; height:64px;">
                                  <div class="card-body">
                                          <div class="card-title">
                                             <h3><b>
                                                          Unique Profile 
                                                          Search Engine
                                             </b></h3>
                                          </div>
                                          <div class="card-text">
                                             <h5>We know you cannot decide on the locality or the house without actually staying there for a month. That’s why we have ditched the silly concept of you having to search based on locality (which you have no clue about), and introduced profile match search engine. It means, we match you to the locality whose profile matches your preferences and personality the most. Isn’t that less complicated?</h5>
                                          </div>
                                  </div>
                  </div>
     </div>
     <div class="col">
                  <div class="card">
                                  <img class="card-img-top" src="assets/icons8-true-false-96.png"
                                  style="width:64px; height:64px;">
                                  <div class="card-body">
                                          <div class="card-title">
                                             <h3><b>
                                                          Choose your House & <br>Room-mate
                                             </b></h3>
                                          </div>
                                          <div class="card-text">
                                             <h5>Most rental services dump you the rentals without any consideration for your preference in terms of room-mates. A home is made by the people living in it, we understand that. That’s why we only show your houses that match your profile not only in terms of locality and facilities, but also room-mate personality.</h5></div>
                                  </div>
                  </div>
     </div>
     <div class="col">
                  <div class="card">
                                  <img class="card-img-top" src="assets/icons8-robot-128.png"
                                  style="width:64px; height:64px;">
                                  <div class="card-body">
                                          <div class="card-title">
                                             <h3><b>Create a new 
                                                          Lifestyle
                                             </b></h3>
                                          </div>
                                          <div class="card-text">
                                             <h5>We know how important it is to feel at home in a new city. We also understand that you cannot feel at home unless you have people you can vibe with, by your side. That’s why we have our exclusive CityWiz inner circle facilities that not only help to connect with new people, but also stay upbeat with the latest happenings in the city for you to explore.</h5>
                                          </div>
                                  </div>
                  </div>
     </div>
     <div class="col">
                  <div class="card">
                                  <img class="card-img-top" src="assets/icons8-money-bag-96.png"
                                  style="width:64px; height:64px;">
                                  <div class="card-body">
                                          <div class="card-title">
                                             <h3><b>Exclusive Inner 
                                                          Circle
                                             </b></h3>
                                          </div>
                                          <div class="card-text">
                                             <h5>Our customers, when they opt to be a part of CityConnect, have exclusive access to deals, promotions and offers from our service partners. We don’t spam, we only update you with services based on your preferences and personality. Use our CityPay card or dashboard to access our offers and gain reward points to obtain more offers and discounts.</h5>
                                          </div>
                                  </div>
                  </div>
     </div>

  </div>
</div>
<hr>


<div class="container-fluid">
  <div class="row">
          <div class="col" style="text-align:center;">
                  <button (click)="raiseAConcern()" class="btn btn-outline-warning"><b>Raise a Concern</b> </button>
                  <br>
                  <br>
                  <div [style.display]="concern">
                                <div class="typeform-widget" data-url="https://citywiz.typeform.com/to/klR6fS" style="width: 100%; height: 500px;"></div> 
                                <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=klR6fS&utm_source=typeform.com-7729061-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> 
                                </div>
                  </div>
          </div>
  </div>
  
</div>
<hr>
<div class="footer" style="height: 300px;">
  <br>
  <br>
  <h3 style="color:white; font-size:25px; text-align:center;"><b>Subscribe For Our Beta Listing</b></h3>   
  <form method="post" action="php/subscribe.php" name="subscribeform" id="subscribeform">
          <div class="row">
                  <div class="col-md-2"></div> 
                  <div class="col-md-8">
                                  <div class="form-group">
                                        <input style="opacity:.5;"type="email" value="" name="email" class="required email form-control no-border" id="subemail" placeholder="Enter Email Address">
                                  </div>
                  
                                  <div class="form-actions" style="text-align:center;">
                                                <button type="submit" id="submit" class="btn btn-default subs-btn">Submit</button>      
                                  </div>
                  </div>
                  <div class="col-md-2"></div>
          </div>
  </form>                   
          
</div>


<div class="container-fluid">
  <br>
  <br>
  <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" style="text-align:center">
                  <h3><b>Come Become A City Wizard in CityWiz</b></h3>
                  <button type="button" [routerLink]="['/login']" class="btn btn-outline-info">STEP IN </button>
                  <br>
                  <br>
                  <br>
          </div>
  </div>
</div>

